<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">

<head>

    <!-- Tab Header -->
    <meta charset="utf-8">
    <title>Logan's UVGDB: Browse Data</title>
    <link href="/client/images/logo.png" rel="icon">

    <!-- Google Font API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="/client/css/uvgdb.css" rel=stylesheet>
    <link href="/client/css/view-data.css" rel=stylesheet>
    <link href="/client/css/browse-data.css" rel=stylesheet>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="/client/js/deleteFile.js"></script>
    <script src="/client/js/browse-data.js"></script>

</head>

<body data-ng-app="browseGamesApp" data-ng-controller="browseGamesCtrl">
    <header id="TitleScreen">
        <img id="TitleScreenLogo" src="/client/images/logo.png" alt="UVGDB Logo">
        <h1 id="TitleScreenText">Universal Video Game Database</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/write-data">Enter Data</a></li>
            <li><a href="/view-data">View Data</a></li>
            <li><a href="/browse-data">Browse Data</a></li>
        </ul>
    </nav>
    <form>
        <div>
            <label for="gametitle">Game Title:</label>
            <label type="text" id="gametitle">{{obj.gametitle}}</label>
        </div>
        <div>
            <label for="releaseyear">Release Year:</label>
            <label type="text" id="releaseyear">{{obj.releaseyear}}</label>
        </div>
        <div>
            <label for="region">Region:</label>
            <label type="text" id="region">{{obj.region}}</label>
        </div>
        <div>
            <label for="platform">Platform:</label>
            <label type="text" id="platform">{{obj['platform']}}</label>
        </div>
        <div>
            <label for="publisher">Publisher:</label>
            <label type="text" id="publisher">{{obj.publisher}}</label>
        </div>
        <div>
            <button type="button" id="previous" data-ng-click="changeGame(-1)" data-ng-hide="hidePrev">&lt<br>
                Previous</button>
        </div>
        <div>
            <button type="button" id="next" data-ng-click="changeGame(1)" data-ng-hide="hideNext">&gt<br>
                Next</button>
        </div>
    </form>
</body>

</html>