<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">

<head>
  <!-- Tab Header -->
  <meta charset="utf-8">
  <title>Logan's UVGDB: View Data</title>
  <link href="/client/images/logo.png" rel="icon">

  <!-- Google Font API -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&display=swap" rel="stylesheet">

  <!-- Stylesheets -->
  <link href="/client/css/uvgdb.css" rel=stylesheet>
  <link href="/client/css/view-data.css" rel=stylesheet>

  <!-- JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="/client/js/view-data.js"></script>
</head>

<body data-ng-app="viewGamesApp" data-ng-controller="viewGamesCtrl">
  <header id="TitleScreen">
    <img id="TitleScreenLogo" src="/client/images/logo.png" alt="UVGDB Logo">
    <h1 id="TitleScreenText">Universal Video Game Database</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/write-data">Enter Data</a></li>
      <li><a href="/view-data">View Data</a></li>
      <li><a href="/browse-data">Browse Data</a></li>
    </ul>
  </nav>

  <section data-ng-hide="!(deleteModeDisabled && editModeDisabled && formHidden)">
    <label for="groupby">Sort by Region: </label>
    <select id="groupby" data-ng-model="selectedRegion" data-ng-options="region.display for region in regions"
      data-ng-change="showTable()"></select>
    <table class="table">
      <colgroup>
        <col id="colGameTitle">
        <col id="colGeleaseYear">
        <col id="colRegion">
        <col id="colPlatform">
        <col id="colPublisher">
      </colgroup>
      <thead>
        <tr id="tableHeader">
          <th>Game Title</th>
          <th>Year of Release</th>
          <th>Region</th>
          <th>Platform</th>
          <th>Publisher</th>
        </tr>
      </thead>

      <tbody id="uvgdbTable">
        <tr ng-repeat="game in games">
          <td>{{game.gametitle}}</td>
          <td>{{game.releaseyear}}</td>
          <td>{{game.region}}</td>
          <td>{{game.platform}}</td>
          <td>{{game.publisher}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" id="enterEditMode" data-ng-click="enterEditMode()">Click here to enter Editing
      Mode.</button>
    <button type="button" id="enterDeleteMode" data-ng-click="enterDeleteMode()">Click here to enter Deletion
      Mode.</button>

  </section>

  <section data-ng-hide="deleteModeDisabled">
    <table class="table">
      <colgroup>
        <col id="colGameTitleD">
        <col id="colGeleaseYearD">
        <col id="colRegionD">
        <col id="colPlatformD">
        <col id="colPublisherD">
      </colgroup>
      <thead>
        <tr id="tableHeaderD">
          <th>Game Title</th>
          <th>Year of Release</th>
          <th>Region</th>
          <th>Platform</th>
          <th>Publisher</th>
        </tr>

      </thead>

      <tbody id="uvgdbTableD">
        <tr ng-repeat="game in games" data-ng-click="deleteRow(game['_id'])">
          <td>{{game.gametitle}}</td>
          <td>{{game.releaseyear}}</td>
          <td>{{game.region}}</td>
          <td>{{game.platform}}</td>
          <td>{{game.publisher}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" id="exitDeleteMode" data-ng-click="exitDeleteMode()">Click on an item to remove it from the
      database.<br>Click here to exit
      Deletion Mode.</button>

  </section>

  <section data-ng-hide="editModeDisabled">
    <table class="table">
      <colgroup>
        <col id="colGameTitleE">
        <col id="colGeleaseYearE">
        <col id="colRegionE">
        <col id="colPlatformE">
        <col id="colPublisherE">
      </colgroup>
      <thead>
        <tr id="tableHeaderE">
          <th>Game Title</th>
          <th>Year of Release</th>
          <th>Region</th>
          <th>Platform</th>
          <th>Publisher</th>
        </tr>
      </thead>

      <tbody id="uvgdbTableE">
        <tr ng-repeat="game in games" data-ng-click="openForm($index)">
          <td>{{game.gametitle}}</td>
          <td>{{game.releaseyear}}</td>
          <td>{{game.region}}</td>
          <td>{{game.platform}}</td>
          <td>{{game.publisher}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" id="exitEditMode" data-ng-click="exitEditMode()">Click on an item to edit it.<br>Click here to
      exit Editing Mode.</button>

  </section>

  <section data-ng-hide="formHidden">
    <form id="editorForm">
      <label for="" data-ng-model="_id" hidden></label>
      <div>
        <label for="gametitle">Game Title</label>
        <input type="text" id="gametitle" data-ng-model="gametitle" data-ng-change=startNew()>
      </div>
      <div>
        <label for="releaseyear">Year of Release</label>
        <input type="text" id="releaseyear" data-ng-model="releaseyear" data-ng-change=startNew()>
      </div>
      <div>
        <label for="region">Region</label>
        <input type="text" id="region" data-ng-model="region" data-ng-change=startNew()>
      </div>
      <div>
        <label for="platform">Platform</label>
        <input type="text" id="platform" data-ng-model="platform" data-ng-change=startNew()>
      </div>
      <div>
        <label for="publisher">Publisher</label>
        <input type="text" id="publisher" data-ng-model="publisher" data-ng-change=startNew()>
      </div>

      <div>
        <button type="submit" id="submit" data-ng-click="updateGame()">Update</button>
      </div>
      <div>
        <button type="button" id="cancel" data-ng-click="closeForm()">Cancel</button>
      </div>
    </form>
  </section>
  <br>
  <br>
</body>

</html>